#middle{
    display: flex;
    align-items:center;
    justify-content: center;
}

#basicFunc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.m-1{
    margin:10px
}

#message{
    font-size: 24px;
    border:1px solid black;
    padding:20px;
}

#inputMessage{
    width: 300px;
    height:25px;
}

.Btn{
    width:100px;
    height: auto;
    font-size: 20px;
    border: none;
    padding:10px;
}